server {
    host localhost
    port 8000

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    server_name localhost
    max_body_size 1000
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html file.html
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/moboustt/Desktop/webserv/filess
    ]

}

server {
    host localhost
    port 8090

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    server_name localhost2
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html file.html
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/moboustt/Desktop/webserv/filess
    ]

}

server {
    host localhost
    port 8088

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    server_name server3
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html file.html
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/moboustt/Desktop/webserv/filess
    ]

}

server {
    host localhost
    port 8008

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    server_name server4
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html file.html
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/moboustt/Desktop/webserv/filess
    ]

}

server {
    host localhost
    port 8000

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    server_name server5
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html file.html
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/moboustt/Desktop/webserv/filess
    ]

}