server {
    host localhost
    port 8000

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html
    ]

    location /createTable.js [
        allowed_method POST
        root /Users/mbani/Desktop/webserv/test-srcs
        cgi /Users/mbani/.brew/bin/node
    ]

    location /insertValues.js [
        allowed_method POST
        root /Users/mbani/Desktop/webserv/test-srcs
        cgi /Users/mbani/.brew/bin/node
    ]

    location /deleteValues.js [
        allowed_method DELETE
        root /Users/mbani/Desktop/webserv/test-srcs
        cgi /Users/mbani/.brew/bin/node
    ]

    location /cookie.js [
        allowed_method POST
        root /Users/mbani/Desktop/webserv/test-srcs
        cgi /Users/mbani/.brew/bin/node
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/mbani/Desktop/webserv/filess
    ]

}