server {
    host localhost
    port 8000

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    location / [
        allowed_method POST GET DELETE
        root /Users/mamoussa/Desktop/webserv/resto
        index index.html
    ]

    location .py [
        cgi /usr/bin/python
    ]

    location /upload [
        upload_store /Users/mbani/Desktop/webserv/filess
    ]

}