server {
    host localhost
    port 8040

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv/test-srcs
        index index.html
    ]
}

server {
    host localhost
    port 8050

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv/test-srcs
        index index.html
    ]
}


server {
    host localhost
    port 8060

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv/test-srcs
        index mamoussa.html
    ]
}

server {
    host localhost
    port 8070

    allowed_method DELETE POST
    root /Users/mbani/Desktop/webserv
    server_name helloworld
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv/test-srcs
        index mamoussa.html
    ]
}