server {
    host localhost
    port 8000

    server_name server1

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv
    location / [
        allowed_method POST GET DELETE
        auto_index on
        root /Users/mbani/Desktop/webserv/
    ]
}

server {
    host localhost
    port 8000

    server_name localhost

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv/resto
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv/resto
        index index.html
    ]
}


server {
    host localhost
    port 8000
    server_name server3

    allowed_method DELETE GET POST
    root /Users/mbani/Desktop/webserv/tests
    location / [
        allowed_method POST GET DELETE
        root /Users/mbani/Desktop/webserv/test-srcs
        index mamoussa.html
    ]
}
