server {
    host localhost
    port 8000

    allowed_method DELETE
    location / [
        allowed_method GET DELETE
        root /Users/mbani/Desktop/webserv
        index index.html
    ]

        location /localhost [
        allowed_method GET DELETE
        root /Users/mamoussa/Desktop/42/webserv
        index index.html file.html
    ]
    location /views [
        allowed_method GET DELETE
        root /Users/mamoussa/Desktop/42/webserv
        auto_index on
    ]
}