server {
    host 127.0.0.1
    port 1234

    allowed_method GET
    location / [
        allowed_method GET DELETE
        root /Users/moboustt/Desktop/webserv/tests
        index index.html
    ]

        location /localhost [
        allowed_method GET DELETE
        root /Users/moboustt/Desktop/webserv/tests
        index index.html file.html
    ]
}