server {
    port
    host localhost
    server_name bug_squash_gang_server
    error_page server_files/www/error_pages/
    max_file_size 123456
    time_out 10
    location / [
        root server_files/www
        allowed_method GET1 POST1 Delete1
        index index.html1
        auto_index off1
        auth_basic off1
    ]

    location / [
        root server_files/www
        allowed_method GET2 DELETE
        index index.html2
        auto_index off2
        auth_basic off2
    ]

    location / [
        root server_files/www
        allowed_method GET3
        index index.html3
        auto_index off3
        auth_basic off3
    ]

    location / [
        root server_files/www
        allowed_method GET4
        index index.html4
        auto_index off4
        auth_basic off4
    ]
}

server {
    port 5645656456
    host localhost
    server_name bug_squash_gang_server
    error_page server_files/www/error_pages/
    max_file_size 123456
    time_out 10

    location / [
    root server_files/www
    allowed_method DELETE POST GET
    index index.html
    auto_index off
    auth_basic off
]

    location / [
        root server_files/www
        allowed_method GET33 POST33 DELETE33
        index index.html33
        auto_index off33
        auth_basic off33
    ]

    location / [
        root server_files/www
        allowed_method GET44 POST44 DELETE44
        index index.html44
        auto_index off44
        auth_basic off44
    ]
}