server {
    port 1234
    host localhost
    server_name bug_squash_gang_server

    error_page server_files/www/error_pages/

    max_file_size 123456

    time_out 10

    location / {
        root server_files/www
        allowed_method GET
        index index.html
        autoindex off
        auth_basic off
    }
}